body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.signup-title {
  padding: 20px 0 50px 0;
}

.login-section {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 45vw;
}

.response-unit-details {
  display: block;
  width: 326.61px;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #030f25;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.register-btn {
  margin: 15px 0 0 0;
  width: 326.61px;
}

.register-btn:focus {
  outline: none;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45vw;
  margin-left: 72px;
}

.right p {
  padding: 10px 0;
}

#girl {
  position: absolute;
  left: 0;
  width: 300px;
  bottom: 0;
}

.register {
  width: 19.4375rem;
  height: 3.3125rem;
  margin: auto;
}
