.ers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.victim-info {
  text-align: left;
  font-size: 0.9rem;
}

.victim-card:hover {
  cursor: pointer;
}

.victim-tel:hover {
  color: red;
}
