#update-profile {
  width: 19.4375rem;
  height: 3.3125rem;
  margin: auto;
}

fieldset {
  border: 0;
}

.update-profile img {
  width: 150px;
  height: 150px;
}

.update-profile h4 {
  color: #2c2c2c;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.3125rem;
  font-family: inherit;
  margin-bottom: 1.25rem;
}

.update-profile h4 > p {
  color: #2c2c2c;
  padding: 0.9375rem 0 1.875rem 0;
  font-family: inherit;
}

.update-profile h5 {
  color: #2c2c2c;
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 2rem;
  font-family: inherit;
  margin-bottom: 0.625rem;
}

.update-profile h5 p {
  font-weight: 700;
}

.update-profile p:first-of-type {
  margin-bottom: 0.625rem;
}

.update-profile p:nth-last-of-type(2) {
  color: #2c2c2c;
  font-size: 1.0625rem;
  font-family: inherit;
  line-height: 1.3125rem;
}

.update-profile p:last-of-type {
  color: #aaa;
  font-size: 0.9375rem;
  font-family: inherit;
  line-height: 1.125rem;
}

.update-profile .form-control {
  display: block;
  width: 100%;
  margin: 1.25rem auto;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-family: inherit;
  line-height: 1.5;
  color: #030f25;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.update-profile .form-control:focus {
  border: 0.0625rem solid #000;
}

.update-profile .btn-send {
  margin: 1.25rem 0;
}

@media (max-device-width: 320px) {
  .update-profile .form-control {
    width: 90%;
  }

  .update-profile img {
    width: 100px;
    height: 100px;
  }

  .update-profile h4 {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
  }

  .update-profile h5 {
    font-size: 1.3rem;
    margin-bottom: 0.4rem
  }

  .update-profile .btn-send {
    padding: 0.6rem 7.2rem;
    margin: auto auto 2rem auto;
  }

  .update-profile p:nth-last-of-type(2) {
    font-size: 0.9rem;
  }

  .update-profile p:last-of-type {
    font-size: 0.85rem;
  }
 }
