.victim-info {
  text-align: left;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
}

.victim-info p {
  font-size: 1.05rem;
  font-weight: 600;
  padding: 5px 0;
}

.victim-info p span {
  font-weight: 400;
}

#deploy-button,
#status-btn,
#save-status-btn {
  padding: 0.525rem 1.95rem;
  display: block;
  margin: 5px auto;
  color: #fff;
  background-color: #358f2d;
  border: 0.1rem solid #358f2d;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

#status-btn {
  padding: 0.525rem 3.5rem;
  background-color: #2d358f;
  border: 0.1rem solid #2d358f;
  margin-bottom: 0;
}

#save-status-btn {
  padding: 0.525rem 5.2rem;
  margin-bottom: 0;
  background-color: #2d358f;
  border: 0.1rem solid #2d358f;
}

#select-status {
  margin: 5px 0 3px 0;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
}

#status-btn:hover,
#save-status-btn:hover {
  background-color: #fff;
  border: 0.1rem solid #2d358f;
  color: #2d358f;
}
#deploy-button:hover {
  background-color: #fff;
  border: 0.1rem solid #358f2d;
  color: #358f2d;
}

@media screen and (max-width: 640px) {
  #deploy-button {
    padding: 0.525rem 1.9rem;
  }
}
