.map-container {
  position: static;
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: space-between;
}

.map {
  position: relative;
  height: 100%;
  width: 100%;
}

.map-card {
  margin-left: auto;
  width: 25%;
  border: 1px solid #aaa;
  position: relative;
  overflow-y: scroll;
}

@media screen and (max-width: 1024px) {
  .map {
    width: 75%;
  }
}

@media screen and (max-width: 640px) {
  .map-container {
    flex-direction: column-reverse;
  }

  .map-card {
    margin: 0 auto;
    width: 100%;
  }

  .map {
    width: 100%;
  }
}
