.card-container {
  padding-top: 20px;
  min-height: 180px;
  margin-bottom: 10px;
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.card-container:hover {
  transform: scale(1.05, 1.1);
}

.card-heading {
  font-size: 1rem;
  padding: 5px 0;
}

.card {
  font-size: 0.85rem;
}

.card-state {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.card-status-pending {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #f00;
  margin-right: 5px;
  margin-top: 4px;
}

.card-status-route {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #008000;
  margin-right: 5px;
  margin-top: 2px;
}

.card-location {
  color: #000;
}

.card-btn {
  width: 90%;
  height: 35px;
}
