.card-container {
  padding-top: 10px;
  margin: 10px;
  border-radius: 10px;
  /* border: 1px solid #999; */
  -moz-box-shadow: 5px 5px 5px rgb(223, 223, 223);
  -webkit-box-shadow: 5px 5px 5px rgb(223, 223, 223);
  box-shadow: 5px 5px 5px rgb(223, 223, 223);
}

.card {
  width: 15rem;
  font-size: 0.7rem;
}

.card-state {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.card-status-pending {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #FF0000;
  margin-right: 5px;
  margin-top: 2px;
}

.card-status-route {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #008000;
  margin-right: 5px;
  margin-top: 2px;
}

.card-location {
  color: #000;
}

.card-btn {
  width: 90%;
  margin-bottom: 5px;
  border-radius: 5px;
  
}
