.main-heading {
  padding-bottom: 10px;
}

.sub-heading {
  font-size: 0.95rem;
  padding-bottom: 5px;
}

#profile-pic {
  padding: 5px 0 0 0;
  width: 100px;
}

.profile-name {
  font-weight: 500;
}

.phone-number {
  font-weight: 400;
  font-size: 0.85rem;
  padding: 8px 0;
}

.mail {
  color: #aaa;
  padding-bottom: 10px;
  font-size: 0.85rem;
  margin: 0;
}

.report-heading {
  margin: 25px 0 10px 0;
}
