body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.signup-title {
  padding: 1.25rem 0 3.125rem 0;
}

.login-section {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 45vw;
}

.user-details {
  display: block;
  width: 300px;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #2c2c2c;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.register-btn {
  margin: unset;
  width: 300px;
}

.register-btn:focus {
  outline: none;
}

.policy {
  font-size: 0.85rem;
  word-spacing: 2px;
  width: 300px;
  padding: 10px 0;
}

.policy label {
  margin-left: 10px;
}

.middle {
  display: flex;
  flex-direction: column;
}

.middle p {
  padding: 5px 0;
  font-weight: bold;
}

.divider {
  margin: 0 50px;
  height: 78px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right p {
  padding: 10px 0 30px 0;
}

#girl {
  position: absolute;
  left: 0;
  width: 23%;
  bottom: 0;
}

.soc-btn {
  width: 280px;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.2);
  color: #7f7f7f;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid rgba(65, 91, 224, 0.2);
  border-radius: 0.25rem;
  cursor: pointer;
}

#facebook,
#google {
  width: 20px;
  margin: 0 20px 0 0;
}

.prompt-msg {
  padding: 50px 0 0 0;
  color: #2c2c2c;
}

.prompt-msg a {
  color: #2c2c2c;
}

.forgot-psw {
  font-size: 13px;
  padding-bottom: 50px;
  text-align: right;
}

#sub-heading {
  padding-top: 10px;
  padding-bottom: 60px;
}

.link {
  margin: 5px;
}

@media screen and (max-width: 640px) {
  .signup-title {
    padding-bottom: 30px;
  }

  .login-section {
    flex-direction: column;
  }

  .left {
    align-items: center;
    width: 100%;
  }

  .user-details {
    padding: 0.7rem 0.75rem;
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
  }

  .register-btn {
    /* margin: 20px 0 0 0; */
    width: 300px;
  }

  .middle {
    display: none;
  }

  .divider {
    display: none;
  }

  .right {
    width: 100vw;
    position: absolute;
    bottom: 7%;
    align-items: center;
  }

  .right p {
    display: none;
  }

  #girl {
    display: none;
  }

  .soc-btn {
    width: 300px;
  }

  .prompt-msg {
    width: 100vw;
    position: absolute;
    margin-top: 10px;
    bottom: 3%;
  }

  #align-psw {
    width: 300px;
    display: flex;
    justify-content: flex-end;
  }

  .forgot-psw {
    padding-bottom: 20px;
    
/* response unit */
.response-unit-details {
  display: block;
  width: 20.413125rem;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #030f25;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.0625rem solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.register {
  width: 19.4375rem;
  height: 3.3125rem;
  margin: auto;
}

.login-title {
  padding-top: 1.25rem;
}

/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  .login-section {
    display: block;
  }

  .right,
  .left {
    display: block;
    margin: auto;
    width: 19.4375rem;
  }

} 