@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  display: block;
  height: 100%;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 
  source-code-pro, 
  Menlo, 
  Monaco, 
  Consolas, 
  "Courier New",
  monospace;
}

a {
  text-decoration: none;
}

.container {
  padding: 30px 0 20px 0;
  background-color: #fffbfb;
}

#logo {
  position: absolute;
  width: 45px;
  left: 4%;
  top: 4%;
}

header {
  border-bottom: 1px solid #ddd;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 8px 50px;
  border-bottom: 1px solid #ddd;
}

.nav-link {
  padding: 7px 20px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(3, 3, 3);
}

.nav-link:hover {
  cursor: pointer;
  color: #e72020;
}

#hamburger-icon {
  width: 25px;
  display: none;
}

.main-heading {
  padding-bottom: 10px;
}

.sub-heading {
  font-size: 15px;
  padding-bottom: 5px;
}

#profile-pic {
  padding: 5px 0 0 0;
  width: 100px;
}

.profile-name {
  font-weight: 500;
}

.phone-number {
  font-weight: 400;
  font-size: 13.5px;
  padding: 3px 0;
}

.mail {
  color: #aaa;
  padding-bottom: 10px;
  font-size: 13.5px;
  margin: 0;
}

.report-heading {
  margin: 25px 0 10px 0;
}

.report {
  border: 1px solid #ddd;
  width: 400px;
  margin: 0 auto;
  padding: 15px 0;
  border-radius: 5px;
}

.report p {
  padding: 5px 0;
  font-size: 14px;
  color: #aaa;
}

.report span {
  font-size: 18px;
}

.button {
  background-color: #e72020;
  color: white;
  font-weight: 700;
  padding: 7px 18px;
  border: none;
  border-radius: 4px;
}

@media screen and (max-width: 640px) {
  #hamburger-icon {
    display: block;
    position: absolute;
    top: 2%;
    right: 5%;
  }

  header {
    height: 50px;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100vw;
    padding: 8px 40px;
    background-color: white;
  }

  .show-menu {
    display: flex;
  }

  .nav-link {
    padding: 13px;
  }
  
  .report {
    width: 80vw;
  }
}
