.homepage {
  display: flex;
  text-align: left;
  width: 100vw;
}

.div1 {
  width: 33.3%;
  margin: 5% 0 0 5%;
}

.div1 h1 {
  line-height: 50px;
  font-size: 50px;
  padding: 20px 0 30px 0;
}

.div1 p {
  line-height: 23px;
}

.div2 {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div3 {
  width: 33.3%;
}

#accident {
  display: block;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .homepage {
    flex-direction: column;
  }

  #accident {
    display: none;
  }

  .div1 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
  }

  .div1 h1 {
    font-size: 30px;
    line-height: 35px;
  }

  .div1 p {
    font-size: 13px;
  }

  .div2 {
    width: 100%;
  }
}
