.homepage {
  display: flex;
  text-align: left;
  width: 100vw;
}

.container-home {
  padding: 50px 0 0 0;
  min-height: 100vh;
  background-color: #fffbfb;
}

.div1 {
  width: 33.3%;
  padding: 5% 0 0 5%;
}

.div1 h1 {
  line-height: 50px;
  font-size: 3rem;
  padding: 20px 0 30px 0;
}

.div1 p {
  line-height: 23px;
  font-size: 20px;
  text-align: justify;
}

.div2 {
  position: relative;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-witness {
  position: absolute;
  top: 70vh;
  background-color: white;
  padding: 0.625rem 2.125rem;
  display: block;
  margin: auto;
  color: #2c2c2c;
  border: 1px solid #e72020;
  border-radius: 5px;
  font-size: 0.85rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn-witness:focus {
  outline: none;
}

.btn-witness:hover {
  background-color: #e72020;
  color: white;
}

.div3 {
  width: 33.3%;
}

#accident {
  display: block;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }

  .div1 h1 {
    font-size: 2.6rem;
    line-height: 50px;
  }

  .div1 p {
    font-size: 1.1rem;
    line-height: 22px;
  }
}

@media screen and (max-width: 1024px) {
  .div1 h1 {
    font-size: 2rem;
    line-height: 33px;
    padding-bottom: 15px;
  }

  .div1 p {
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .div1 h1 {
    font-size: 1.7rem;
    line-height: 29px;
  }

  .div1 p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .homepage {
    flex-direction: column;
  }

  #accident {
    display: none;
  }

  .div1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px 50px 20px;
  }

  .div1 h1 {
    font-size: 1.7rem;
    line-height: 35px;
    padding-bottom: 15px;
  }

  .div1 p {
    text-align: center;
    line-height: 20px;
  }

  .div2 {
    position: relative;
    width: 100%;
  }

  .help-btn-container {
    position: fixed;
    top: 50%;
  }

  .btn-witness {
    position: fixed;
    align-self: center;
    top: 90%;
  }
}

@media screen and (max-width: 320px) {
  .div1 p {
    line-height: 15px;
  }
}
